@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto Regular'),
    url(../assets/fonts/roboto/roboto-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto Bolid'),
    url(../assets/fonts/roboto/roboto-bold.ttf) format('truetype');
}